.menu-menu {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.menu-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.menu-logo {
  width: 64px;
}
.menu-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.menu-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.menu-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.menu-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: column;
}
.menu-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--dl-color-gray-black);
}
.menu-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;
  flex-direction: row;
  padding-bottom: 20px;
}
.menu-logo1 {
  width: 120px;
  margin-left: var(--dl-space-space-halfunit);
}
.menu-links1 {
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.menu-link {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.menu-link1 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.menu-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.menu-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.menu-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.menu-container1 {
  display: contents;
}
.menu-root-class-name {
  display: none;
}
.menu-root-class-name1 {
  display: none;
}
.menu-root-class-name2 {
  display: none;
}
.menu-root-class-name3 {
  display: none;
}
.menu-root-class-name4 {
  display: none;
}
.menu-root-class-name5 {
  display: none;
}
.menu-root-class-name6 {
  display: none;
}
.menu-root-class-name7 {
  display: none;
}
@media(max-width: 991px) {
  .menu-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .menu-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .menu-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .menu-left {
    margin-left: var(--dl-space-space-halfunit);
  }
  .menu-logo1 {
    width: 64px;
  }
  .menu-links1 {
    display: none;
  }
  .menu-mobile-menu-button {
    display: flex;
  }
}
@media(max-width: 767px) {
  .menu-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .menu-left {
    margin-left: var(--dl-space-space-unit);
  }
  .menu-right {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .menu-logo {
    margin-left: 0px;
  }
  .menu-icon {
    align-items: center;
    justify-content: center;
  }
}

.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.you-tube-you-tube:hover {
  transform: scale(105%);
  transition-duration: 0.3s;
}
.you-tube-pasted-image {
  width: 120px;
}
.you-tube-root-class-name {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name1 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name2 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name3 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name4 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name5 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name6 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name7 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name8 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name9 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name10 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name11 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name12 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name13 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name14 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name15 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name16 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name17 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name18 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name19 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name20 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name21 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name22 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name23 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.footer-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link1 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link1:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link2 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link2:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-right {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.footer-category {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.footer-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link3 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link3:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link4 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link4:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link5 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link5:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text1 {
  color: rgb(104, 104, 104);
  margin-top: var(--dl-space-space-halfunit);
}
.footer-text3 {
  text-decoration: underline;
}
.footer-link6 {
  fill: var(--dl-color-gray-500);
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-link {
    text-decoration: underline none;
  }
  .footer-link1 {
    text-decoration: underline none;
  }
  .footer-link2 {
    text-decoration: underline none;
  }
  .footer-right {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-links {
    gap: var(--dl-space-space-unit);
  }
  .footer-link3 {
    color: rgb(196, 196, 196);
  }
  .footer-link4 {
    color: rgb(196, 196, 196);
  }
  .footer-link5 {
    color: rgb(196, 196, 196);
  }
  .footer-text1 {
    font-size: 12px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-link {
    color: rgb(196, 196, 196);
  }
  .footer-link1 {
    color: rgb(196, 196, 196);
  }
  .footer-link2 {
    color: rgb(196, 196, 196);
  }
  .footer-link5 {
    color: rgb(196, 196, 196);
    text-decoration: none;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-video {
  top: 0px;
  width: auto;
  height: auto;
  z-index: 5;
  position: absolute;
  min-width: 100%;
  min-height: 900px;
}
.home-container01 {
  gap: 2%;
  width: 100%;
  height: 65px;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  border-radius: 25px;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-danger-700);
}
.home-text {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: 25px;
  font-family: "Impact";
}
.home-navlink {
  display: contents;
}
.home-subscribe {
  width: auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: 7px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 7px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-subscribe:hover {
  transform: scale(105%);
  background-color: #272727;
  transition-duration: 0.3s;
}
.home-text01 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: "Impact";
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transform: rotateZ(90deg);
  margin-left: 5px;
}
.home-image {
  width: 300px;
  z-index: 100;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-header {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
.home-text02 {
  color: rgb(255, 255, 255);
  z-index: 100;
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 100;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
}
.home-link {
  display: contents;
}
.home-component1 {
  text-decoration: none;
}
.home-link01 {
  display: contents;
}
.home-component2 {
  text-decoration: none;
}
.home-link02 {
  display: contents;
}
.home-component3 {
  text-decoration: none;
}
.home-link03 {
  display: contents;
}
.home-icon02 {
  fill: var(--dl-color-gray-white);
  width: 40px;
  height: 40px;
  z-index: 100;
  margin-top: 40px;
  text-decoration: none;
}
.home-outline {
  display: flex;
  align-items: center;
  border-color: rgba(115, 80, 247, 0);
  border-width: 20px;
  border-radius: 70px;
  flex-direction: column;
  background-color: rgba(115, 80, 247, 0);
  border-right-width: 20px;
  border-bottom-width: 5px;
}
.home-container03 {
  gap: 10%;
  flex: 0 0 auto;
  width: 900px;
  height: 400px;
  display: flex;
  z-index: 14;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-template-blue-bg);
  border-width: 10px;
  border-radius: 50px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
  border-bottom-width: 10px;
}
.home-text06 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 35%;
  z-index: 23;
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 800;
}
.home-image1 {
  top: -6px;
  left: 12px;
  width: 20%;
  margin: auto;
  z-index: 22;
  position: absolute;
  object-fit: cover;
}
.home-container04 {
  flex: 0 0 auto;
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-link04 {
  display: contents;
}
.home-subscribe1 {
  width: 300px;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #5228F5;
}
.home-subscribe1:hover {
  transform: scale(105%);
  background-color: #7A5BEF;
  transition-duration: 0.3s;
}
.home-text07 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
}
.home-icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.home-link05 {
  display: contents;
}
.home-subscribe2 {
  width: 300px;
  cursor: pointer;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  margin-bottom: var(--dl-space-space-unit);
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #5228F5;
}
.home-subscribe2:hover {
  transform: scale(105%);
  background-color: #7a5bef;
  transition-duration: 0.3s;
}
.home-text08 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
}
.home-icon06 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.home-link06 {
  display: contents;
}
.home-subscribe3 {
  width: 300px;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  text-decoration: none;
  background-color: #5228F5;
}
.home-subscribe3:hover {
  transform: scale(105%);
  background-color: #7a5bef;
  transition-duration: 0.3s;
}
.home-text09 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 700;
}
.home-icon08 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.home-contentplan {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 11;
  align-items: center;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text10 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
}
.home-text11 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 20px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.home-cards {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
.home-container05 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-schedule {
  height: 240px;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/img/contentplan/yoyager-700h.png");
  background-position: bottom;
}
.home-text12 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.home-publish {
  height: initial;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: flex-end;
  background-color: transparent;
  background-image: url("public/img/contentplan/comp-700h.png");
  background-position: bottom;
}
.home-text13 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.home-container06 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-schedule1 {
  height: 240px;
  padding-top: 0px;
  padding-left: var(--dl-space-space-unit);
  padding-right: 0px;
  padding-bottom: 41px;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/img/contentplan/parker-700h.png");
  background-position: bottom;
}
.home-text14 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.home-publish1 {
  height: initial;
  padding-top: 0px;
  padding-bottom: var(--dl-space-space-threeunits);
  background-size: cover;
  justify-content: flex-end;
  background-color: transparent;
  background-image: url("public/img/contentplan/deadwood-700h.png");
  background-position: bottom;
}
.home-text15 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.home-discord {
  width: 100%;
  height: 264px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: row;
  justify-content: center;
  background-color: #5228F5;
}
.home-container07 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image2 {
  width: 200px;
  object-fit: cover;
  transition: 0.3s;
}
.home-image2:hover {
  transform: rotate(-10deg);
  transition-duration: 2s;
}
.home-container08 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text16 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 452px;
  font-size: 40px;
  font-family: "Inter";
}
.home-link07 {
  display: contents;
}
.home-subscribe4 {
  cursor: pointer;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-subscribe4:hover {
  transform: scale(105%);
  background-color: var(--dl-color-success-500);
  transition-duration: 0.3s;
}
.home-text17 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 25px;
  font-family: "Inter";
}
.home-parks {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 41px;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: 45px;
  justify-content: center;
  background-color: #000000;
}
.home-title1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text18 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
}
.home-text19 {
  color: var(--dl-color-gray-white);
  font-size: 20px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 16px;
}
.home-link08 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: auto;
  display: flex;
  font-size: 15px;
  font-family: "Impact";
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-icon10 {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.home-wonderworld {
  width: 675px;
  height: 462px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 15px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: #61e0e3;
  border-bottom-left-radius: 15;
  border-bottom-right-radius: 15;
}
.home-wonderworld:hover {
  transform: scale(105%);
  transition-duration: 0.6s;
}
.home-slider {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-slider-slide {
  height: auto;
  display: flex;
  background-size: cover;
  background-image: url('https://i.ibb.co/3sjSgBd/Screenshot-2024-04-19-220133.png');
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-slider-slide1 {
  display: flex;
  background-size: cover;
  background-image: url('https://i.ibb.co/y6rYDmB/Screenshot-2024-04-19-220056.png');
  background-repeat: no-repeat;
}
.home-slider-slide2 {
  display: flex;
  background-size: cover;
  background-image: url('https://i.ibb.co/rvR3LFR/Screenshot-2024-04-19-220032.png');
}
.home-slider-slide3 {
  display: flex ;
  background-size: cover;
  background-image: url('https://i.ibb.co/Cmggkb4/Screenshot-2024-04-19-215928.png');
  background-repeat: no-repeat;
}
.home-slider-pagination {
  display: none;
}
.home-slider-button-prev {
  display: block;
}
.home-slider-button-next {
  display: block;
}
.home-text21 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.home-text22 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  margin-top: 0px;
  font-family: "Arial";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link09 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  font-size: 15px;
  font-family: "Impact";
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-icon12 {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.home-wonderworld1 {
  width: 675px;
  height: 462px;
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: 15px;
  flex-direction: column;
  background-color: #da7070;
  border-bottom-left-radius: 15;
  border-bottom-right-radius: 15;
}
.home-wonderworld1:hover {
  transform: scale(105%);
  transition-duration: 0.6s;
}
.home-slider1 {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-slider-slide4 {
  height: auto;
  display: flex;
  background-size: cover;
  background-image: url('https://go.theminemat.de/corvus-yoyagers-img1');
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home-slider-slide5 {
  display: flex;
  background-size: cover;
  background-image: url('https://go.theminemat.de/corvus-yoyagers-img2');
  background-repeat: no-repeat;
  background-position: center;
}
.home-slider-slide6 {
  display: flex;
  background-size: 100%;
  background-image: url('https://go.theminemat.de/corvus-yoyagers-img3');
  background-position: center;
}
.home-slider-slide7 {
  display: flex ;
  background-size: 100%;
  background-image: url('https://go.theminemat.de/corvus-yoyagers-img4');
  background-repeat: no-repeat;
  background-position: center;
}
.home-slider-slide8 {
  display: flex ;
  background-size: cover;
  background-image: url('https://go.theminemat.de/corvus-yoyagers-img5');
  background-position: center;
}
.home-slider-pagination1 {
  display: none;
}
.home-slider-button-prev1 {
  display: block;
}
.home-slider-button-next1 {
  display: block;
}
.home-text24 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  font-size: 30px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  font-family: "Inter";
  font-weight: 700;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.home-text25 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  margin-top: 0px;
  font-family: "Inter";
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-link10 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  font-size: 15px;
  font-family: "Impact";
  margin-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: row;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-icon14 {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
.home-member {
  width: 100%;
  height: 264px;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: row;
  justify-content: center;
  background-color: #5228F5;
}
.home-container09 {
  gap: 5%;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image3 {
  width: 200px;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 50px;
}
.home-image3:hover {
  transform: rotate(-10deg);
  transition-duration: 2s;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text27 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 452px;
  font-size: 35px;
  font-family: "Inter";
}
.home-link11 {
  display: contents;
}
.home-subscribe5 {
  cursor: pointer;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  align-items: center;
  padding-top: 16px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-subscribe5:hover {
  transform: scale(105%);
  background-color: var(--dl-color-success-500);
  transition-duration: 0.3s;
}
.home-text28 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 25px;
  font-family: "Inter";
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-container01 {
    height: 55px;
  }
  .home-subscribe {
    padding-top: 7px;
    padding-bottom: 7px;
  }
  .home-header {
    width: 100%;
    max-width: 1200px;
  }
  .home-text02 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
  }
  .home-icon02 {
    margin-top: 40px;
  }
  .home-container03 {
    gap: 10%;
    width: auto;
  }
  .home-image1 {
    top: 4px;
    left: 42px;
  }
  .home-container04 {
    width: auto;
  }
  .home-contentplan {
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home-title {
    width: 100%;
    max-width: 1200px;
  }
  .home-text10 {
    font-size: 36px;
    line-height: 40px;
  }
  .home-text11 {
    font-size: 20px;
    margin-top: var(--dl-space-space-unit);
    line-height: 30px;
  }
  .home-cards {
    margin-top: 0px;
  }
  .home-container05 {
    height: 607px;
    flex-direction: column;
  }
  .home-schedule {
    width: auto;
    flex-direction: column;
    padding-bottom: 5px;
    background-position: center;
  }
  .home-text12 {
    line-height: 21px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-publish {
    height: 240px;
    padding-bottom: 5px;
    background-position: center;
  }
  .home-text13 {
    line-height: 21px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container06 {
    height: 607px;
    flex-direction: column;
  }
  .home-schedule1 {
    padding-bottom: 5px;
    background-position: center;
  }
  .home-text14 {
    line-height: 21px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-publish1 {
    padding-bottom: 5px;
    background-position: center;
  }
  .home-text15 {
    line-height: 21px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-discord {
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-parks {
    padding-top: var(--dl-space-space-sevenunits);
    padding-bottom: var(--dl-space-space-sevenunits);
  }
  .home-title1 {
    width: 100%;
    max-width: 1200px;
  }
  .home-text18 {
    font-size: 36px;
    line-height: 40px;
  }
  .home-text19 {
    font-size: 20px;
    margin-top: var(--dl-space-space-unit);
    line-height: 30px;
  }
  .home-wonderworld {
    width: 657px;
    height: 453px;
  }
  .home-text22 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-wonderworld1 {
    width: 657px;
    height: 453px;
  }
  .home-text25 {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .home-member {
    height: auto;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-hero {
    height: auto;
    position: relative;
    padding-bottom: 0px;
    background-color: var(--dl-color-gray-white);
  }
  .home-video {
    height: 604px;
    min-height: 620px;
  }
  .home-subscribe {
    width: 200px;
  }
  .home-text01 {
    font-size: 14px;
  }
  .home-icon {
    width: 20px;
    height: 20px;
  }
  .home-header {
    height: 100%;
    margin-top: var(--dl-space-space-fourunits);
    justify-content: center;
  }
  .home-text02 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .home-container02 {
    flex-direction: row;
  }
  .home-icon02 {
    margin-top: var(--dl-space-space-twounits);
  }
  .home-outline {
    border-color: rgba(115, 80, 247, 0);
    border-width: 10px;
    border-radius: 35px;
    background-color: transparent;
  }
  .home-container03 {
    gap: 5%;
    width: auto;
    height: 300px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text06 {
    width: 250px;
    font-size: 20px;
  }
  .home-subscribe1 {
    width: 200px;
  }
  .home-text07 {
    font-size: 14px;
  }
  .home-icon04 {
    width: 20px;
    height: 20px;
  }
  .home-subscribe2 {
    width: 200px;
  }
  .home-text08 {
    font-size: 14px;
  }
  .home-icon06 {
    width: 20px;
    height: 20px;
  }
  .home-subscribe3 {
    width: 200px;
  }
  .home-text09 {
    font-size: 14px;
  }
  .home-icon08 {
    width: 20px;
    height: 20px;
  }
  .home-contentplan {
    height: 1419px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-text10 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-container05 {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-schedule {
    width: auto;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 5px;
  }
  .home-text12 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-publish {
    margin-left: 0px;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 5px;
  }
  .home-text13 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-container06 {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-schedule1 {
    padding-bottom: 5px;
  }
  .home-text14 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-publish1 {
    margin-left: 0px;
    padding-bottom: 5px;
  }
  .home-text15 {
    font-size: 14px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .home-discord {
    height: 100%;
  }
  .home-container07 {
    gap: 1%;
  }
  .home-text16 {
    width: 350px;
  }
  .home-parks {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-title1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text18 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-link08 {
    fill: var(--dl-color-gray-black);
    color: var(--dl-color-gray-black);
    border-color: var(--dl-color-gray-white);
    background-color: var(--dl-color-gray-white);
  }
  .home-wonderworld {
    width: 396px;
    height: 333px;
  }
  .home-wonderworld1 {
    width: 396px;
    height: 333px;
  }
  .home-member {
    height: 100%;
  }
  .home-container09 {
    gap: 1%;
  }
  .home-text27 {
    width: 350px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    height: auto;
    padding-bottom: 0px;
  }
  .home-video {
    height: 596px;
  }
  .home-subscribe {
    width: 200px;
    height: 50px;
    justify-content: center;
  }
  .home-header {
    width: 100%;
    height: auto;
  }
  .home-container03 {
    gap: 2%;
    width: auto;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-text06 {
    width: auto;
    font-size: 20px;
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image1 {
    top: 72px;
    left: 4px;
  }
  .home-subscribe1 {
    width: 200px;
    height: 50px;
    justify-content: center;
  }
  .home-subscribe2 {
    width: 200px;
    height: 50px;
    justify-content: center;
  }
  .home-subscribe3 {
    width: 200px;
    height: 50px;
    justify-content: center;
  }
  .home-contentplan {
    padding-top: 0px;
  }
  .home-title {
    margin-top: var(--dl-space-space-unit);
  }
  .home-text10 {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text11 {
    font-size: 20px;
    line-height: 30px;
  }
  .home-cards {
    margin-top: 0px;
  }
  .home-container05 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: 414px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-schedule {
    height: 240px;
    padding-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .home-text12 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-publish {
    padding-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .home-text13 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container06 {
    gap: var(--dl-space-space-oneandhalfunits);
    height: 410px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-schedule1 {
    padding-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-text14 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-publish1 {
    padding-bottom: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .home-text15 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-discord {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container07 {
    align-items: center;
    flex-direction: column;
  }
  .home-container08 {
    align-items: center;
  }
  .home-text16 {
    width: 300px;
    text-align: center;
  }
  .home-text18 {
    fill: var(--dl-color-gray-white);
    color: var(--dl-color-gray-white);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .home-text19 {
    fill: var(--dl-color-gray-white);
    color: var(--dl-color-gray-white);
    font-size: 20px;
    line-height: 30px;
  }
  .home-wonderworld {
    width: 326px;
    height: 292px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-slider {
    width: 100%;
    height: auto;
  }
  .home-text21 {
    font-size: 25px;
    margin-top: 0px;
  }
  .home-wonderworld1 {
    width: 326px;
    height: 272px;
  }
  .home-slider1 {
    height: auto;
  }
  .home-slider-slide4 {
    height: auto;
  }
  .home-text24 {
    font-size: 25px;
    margin-top: 0px;
  }
  .home-member {
    height: auto;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
  }
  .home-container10 {
    align-items: center;
  }
  .home-text27 {
    color: var(--dl-color-gray-white);
    width: 300px;
    font-size: 35px;
    text-align: center;
    font-family: Impact;
  }
}
