.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.footer-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.footer-contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link1 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link1:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link2 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
}
.footer-link2:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-right {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.footer-category {
  width: 240px;
  display: flex;
  flex-direction: column;
}
.footer-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.footer-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-link3 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link3:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link4 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link4:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-link5 {
  color: rgb(196, 196, 196);
  transition: 0.3s;
  text-decoration: none;
}
.footer-link5:hover {
  color: var(--dl-color-gray-white);
  transition-duration: 0.2s;
}
.footer-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.footer-image {
  width: 200px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.footer-text1 {
  color: rgb(104, 104, 104);
  margin-top: var(--dl-space-space-halfunit);
}
.footer-text3 {
  text-decoration: underline;
}
.footer-link6 {
  fill: var(--dl-color-gray-500);
  color: var(--dl-color-gray-500);
  margin-top: var(--dl-space-space-halfunit);
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .footer-top {
    flex-direction: column;
  }
  .footer-link {
    text-decoration: underline none;
  }
  .footer-link1 {
    text-decoration: underline none;
  }
  .footer-link2 {
    text-decoration: underline none;
  }
  .footer-right {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .footer-links {
    gap: var(--dl-space-space-unit);
  }
  .footer-link3 {
    color: rgb(196, 196, 196);
  }
  .footer-link4 {
    color: rgb(196, 196, 196);
  }
  .footer-link5 {
    color: rgb(196, 196, 196);
  }
  .footer-text1 {
    font-size: 12px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .footer-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .footer-link {
    color: rgb(196, 196, 196);
  }
  .footer-link1 {
    color: rgb(196, 196, 196);
  }
  .footer-link2 {
    color: rgb(196, 196, 196);
  }
  .footer-link5 {
    color: rgb(196, 196, 196);
    text-decoration: none;
  }
}
