.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.you-tube-you-tube:hover {
  transform: scale(105%);
  transition-duration: 0.3s;
}
.you-tube-pasted-image {
  width: 120px;
}
.you-tube-root-class-name {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name1 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name2 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name3 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name4 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name5 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name6 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name7 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name8 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name9 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name10 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name11 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name12 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name13 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name14 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name15 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name16 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name17 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name18 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name19 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name20 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name21 {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name22 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name23 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}
