.you-tube-you-tube {
  width: 240px;
  height: 120px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: 200px;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.you-tube-you-tube:hover {
  transform: scale(105%);
  transition-duration: 0.3s;
}
.you-tube-pasted-image {
  width: 120px;
}
.you-tube-root-class-name {
  width: 200px;
  height: 100px;
}
.you-tube-root-class-name1 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
.you-tube-root-class-name2 {
  width: 200px;
  height: 100px;
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 479px) {
  .you-tube-you-tube {
    width: 120px;
    height: 60px;
    align-items: center;
  }
  .you-tube-pasted-image {
    width: 80px;
  }
}
